.diceStyle {
    border: 1px solid black;
    border-radius: 4px;
    display: inline-block;
    width: fit-content;
    padding: 1em;
    margin: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px;
}