.diceBox {
    display: inline-block;
    border: 2px solid rebeccapurple;
    border-radius: 1em;
    width: fit-content;
    padding: 2px;
    box-shadow: 2px 2px 4px 0px gray;
    margin: 2px 4px 4px 2px;
}

.diceBox.one {
    background-color: red;
}

.diceBox.three {
    background-color: lime;
}

.diceBox.six {
    background-color: aqua;
}