.gameControls {
    margin-bottom: 1em;
}

.gameTable {
    margin-inline: auto;
}

.gameOverBox {
    border-width: 2px;
    border-style: inset;
    /* border colors supplied by calling box via inline style*/
    padding: 0.5em 1em;
    width: fit-content;
    text-align: center;
    margin-inline: auto;
}