.gameControls {
  margin-bottom: 1em;
}

.gameStats {
  white-space: nowrap;
  width: fit-content;
  margin-inline: auto;
  padding-inline: 0.5em;
}

.playerTable {
  width: fit-content;
  padding: 1em;
  /* margin-inline: 1em; */
  margin-inline: auto;
  border-width: 2px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
