.playerDev {
    border: 2px dashed blue;
    width: fit-content;
}

.playerDicePool {
    border: 2px outset gray;
}

.nameBox {
    border: 2px inset;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}