.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --colorCube: rgb(0, 127, 0);
  --colorWin: lime;
  --colorWarn: yellow;

  --colorLeft: red;
  --textLeft: white;

  --colorRight: aqua;
  --textRight: black;
}

.greyTheme {
  --f_color: black;
  --b_color: rgba(0, 0, 0, 0.05);
}

.leftTheme {
  --f_color: var(--textLeft);
  --b_color: var(--colorLeft);
}

.rightTheme {
  --f_color: var(--textRight);
  --b_color: var(--colorRight);
}
